/*banner iframe video*/
.banner__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/Rcolombia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90vw;
  height: 70vh;
  margin: 10vh auto;
}

/*banner 3*/
.banner3 {
  background-image: url("/img/banner3.jpg");
  width: 100vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*escudos*/
.ContenedorListaEscudos {
  border: 1px solid #dfdfdf;
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7vh 0px;
}

.ContenedorListaEscudos .ContenedorListaEscudosul {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ContenedorListaEscudos .ContenedorListaEscudosul .ContenedorListaEscudosli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5vh 0px;
}

.ContenedorListaEscudos .ContenedorListaEscudosul .ContenedorListaEscudosli .ContenedorListaEscudosliImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12vh;
  height: 12vh;
}

.ContenedorListaEscudos .ContenedorListaEscudosul .ContenedorListaEscudosli .ContenedorListaEscudosliImg:hover {
  margin-top: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*esc animado fpc*/
.animacionFpc {
  margin: 3vh 4vw;
  width: 92vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.animacionFpc .animacionFpc h4 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  width: 1px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.animacionFpc .animacionFpc img {
  height: 15vh;
  width: auto;
  -webkit-animation-name: FPC;
          animation-name: FPC;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*banner inferior*/
.bannerflex3 {
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  overflow: hidden;
}

.bannerflex3 .bannerInferior {
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  overflow: hidden;
}

.bannerflex3 .bannerInferiorContenedor {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  overflow: hidden;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgC {
  background-image: url("/img/IgC.jpg");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position-x: center;
  text-decoration: none;
  -webkit-transition: cubic-bezier();
  transition: cubic-bezier();
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */
  width: 100%;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgC .bannerInferiorColor {
  background-color: rgba(42, 56, 59, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgC .bannerInferiorColor h4 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 700;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgC a {
  text-decoration: none;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgC:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgM {
  background-image: url("/img/IgM.jpg");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position-x: center;
  text-decoration: none;
  -webkit-transition: cubic-bezier();
  transition: cubic-bezier();
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */
  width: 100%;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgM .bannerInferiorColor {
  background-color: rgba(42, 56, 59, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgM .bannerInferiorColor h4 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 700;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgM a {
  text-decoration: none;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgM:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgN {
  background-image: url("/img/IgN.jpg");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position-x: center;
  text-decoration: none;
  -webkit-transition: cubic-bezier();
  transition: cubic-bezier();
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */
  width: 100%;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgN .bannerInferiorColor {
  background-color: rgba(42, 56, 59, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgN .bannerInferiorColor h4 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 700;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgN a {
  text-decoration: none;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgN:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgA {
  background-image: url("/img/IgA.jpg");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position-x: center;
  text-decoration: none;
  -webkit-transition: cubic-bezier();
  transition: cubic-bezier();
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */
  width: 100%;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgA .bannerInferiorColor {
  background-color: rgba(42, 56, 59, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgA .bannerInferiorColor h4 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-weight: 700;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgA a {
  text-decoration: none;
}

.bannerflex3 .bannerInferiorContenedor .bannerInferiorIgA:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/*esc animado fpc*/
.animacionFpc {
  margin: 3vh 4vw;
  width: 92vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.animacionFpc h4 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  width: 1px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.animacionFpc img {
  height: 15vh;
  width: auto;
  -webkit-animation-name: FPC;
          animation-name: FPC;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes FPC {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes FPC {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.animacionFpc:hover img {
  -webkit-transform: translate(5vw, 0px);
          transform: translate(5vw, 0px);
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
}

.animacionFpc:hover h4 {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-transition: 2s;
  transition: 2s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .socialMedia {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 6vw;
  font-family: "Anton", sans-serif;
}

.footer .socialMedia .socialMedia__iconos {
  font-size: 2rem;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: fullScreenW;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: fullScreenW;
  list-style: none;
  margin: 2rem;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.links ul a {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  border-left: 2px solid #000;
}

.links ul a:hover {
  border-left: 2px solid #fcfafa;
}

.links__equipos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.fpcligaBet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/logolig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vw;
  height: 50vh;
  margin: 10vh auto;
}

.fpcligaBetTexto {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 3px solid #bbbbbb;
}

.fpcligaBetTexto:hover {
  border-left: 3px solid #f1f500;
}

/*estilos FPC millos*/
.fpcligaBetmi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/fpc/ligmil.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetmi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/fpc/ligmil2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextoMil {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #bbbbbb;
}

.fpcligaBetTextobMil {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextobMil:hover {
  border-top: 1px solid #0f0096;
}

.fpcligaBetTextoMil:hover {
  border-left: 1px solid #0f0096;
}

/*estilos FPC america*/
.fpcligaBeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligam.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 40vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBeta2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligam2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 40vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextob {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextob:hover {
  border-top: 1px solid #f50000;
}

/*estilos FPC cali*/
.fpcligaBetc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligca.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligca2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextoCali {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #bbbbbb;
}

.fpcligaBetTextobCali {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextobCali:hover {
  border-top: 1px solid #008a07;
}

.fpcligaBetTextoCali:hover {
  border-left: 1px solid #008a07;
}

/*estilos FPC dim*/
.fpcligaBetm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetm2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligme2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextoDim {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #bbbbbb;
}

.fpcligaBetTextobDim {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextobDim:hover {
  border-top: 1px solid #9e0000;
}

.fpcligaBetTextoDim:hover {
  border-left: 1px solid #9e0000;
}

/*estilos FPC Jun*/
.fpcligaBetj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligjun.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetj2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligjun2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextoJun {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #bbbbbb;
}

.fpcligaBetTextobJun {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextobJun:hover {
  border-top: 1px solid #9e0000;
}

.fpcligaBetTextoJun:hover {
  border-left: 1px solid #9e0000;
}

/*estilos FPC San*/
.fpcligaBets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligsa.jpg.crdownload");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBets2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligsa2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 40vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextoSan {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #bbbbbb;
}

.fpcligaBetTextobSan {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextobSan:hover {
  border-top: 1px solid red;
}

.fpcligaBetTextoSan:hover {
  border-left: 1px solid red;
}

/*estilos FPC Nac*/
.fpcligaBetna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetna2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/fpc/ligna2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
  height: 40vh;
  margin: 10vh auto;
  margin-top: 20vh;
}

.fpcligaBetTextoNac {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-left: 1px solid #bbbbbb;
}

.fpcligaBetTextobNac {
  padding: 5vw;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #bbbbbb;
}

.fpcligaBetTextobNac:hover {
  border-top: 1px solid #00a023;
}

.fpcligaBetTextoNac:hover {
  border-left: 1px solid #00a023;
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.titulo {
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin: 3vw;
  -webkit-box-shadow: 1px 1px 5px #838383;
          box-shadow: 1px 1px 5px #838383;
}

.enlineaFlexibleGridPadre {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enlineaFlexibleGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "item item item" "item item item" "item item item";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 10Vh;
  grid-row-gap: 10Vh;
}

.enlineaFlexibleGridItem {
  border: 1px solid #838383;
  padding: 10%;
}

.enlineaFlexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.estiloLestraPoppins {
  font-family: "Poppins", sans-serif;
}

.masVendidosContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.masVendidosContenedor .masVendidosContenedorTexto {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin: 3vw;
}

.masVendidosContenedor .masVendidosContenedorHijoImg {
  border: 1px solid #dfdfdf;
  margin: 1vw;
  width: 19vw;
  padding: 0px 1vw;
}

.masVendidosContenedor .masVendidosContenedorHijoImg .masVendidosContenedorImg {
  width: 17vw;
  height: auto;
}

.masVendidosContenedor .masVendidosContenedorHijoImg img {
  border: 1px solid #dfdfdf;
}

.masVendidosContenedor .masVendidosContenedorHijoImg div {
  margin: 5%;
}

.masVendidosContenedor .masVendidosContenedorHijoImg div h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.masVendidosContenedor .masVendidosContenedorHijoImg div p {
  width: 18vw;
}

.masVendidosContenedor .masVendidosContenedorImg {
  width: 17vw;
  height: auto;
}

.bodyMain {
  width: 100vw;
}

.bodyMain .header__sup {
  background-image: -webkit-gradient(linear, right top, left top, from(#b8b7b7), to(rgba(255, 251, 6, 0.904)));
  background-image: linear-gradient(to left, #b8b7b7, rgba(255, 251, 6, 0.904));
  height: 10vh;
  width: 100%;
}

.bodyMain .contenedorNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/banCem.jpg");
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 100px;
  padding-top: 5px;
  border: 1px solid #d1d1d1;
}

.bodyMain .contenedorNavbar .contenedorNavbar__logo img {
  height: 5vw;
  width: auto;
  margin: 1vw;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-columns: #000;
          columns: #000;
  text-decoration: none;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style: none;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu ul {
  position: absolute;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu li a {
  padding: 10px 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-weight: 900;
  font-size: 1rem;
  font-family: 'Anton', sans-serif;
  border-left: 3px solid #f1f500;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu li a:hover {
  background-color: rgba(0, 0, 20, 0.5);
  border-left: 3px solid black;
  color: #f1f500;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: relative;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu li ul {
  display: none;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu li:hover > ul {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: rgba(0, 0, 20, 0.5);
  padding: 5vh 2vw;
  z-index: 100;
  width: 20vw;
  height: 40vh;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu.listadeplegable {
  display: none;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.bodyMain .contenedorNavbar .contenedorNavbar__ListaMenu_cuerpo .contenedorNavbar__ListaMenu.listadeplegable li {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */