*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.titulo{
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 3vw;
    box-shadow: 1px 1px 5px  rgb(131, 131, 131);  
}

.enlineaFlexibleGridPadre{
    display: grid;
    justify-content: center;

}

.enlineaFlexibleGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas: 
        "item item item"
        "item item item"
        "item item item"    
    ;
    justify-items: center;
    align-items: center;
    grid-column-gap: 10Vh;
    grid-row-gap: 10Vh;
}

.enlineaFlexibleGridItem{
    border: 1px solid rgb(131, 131, 131);
    padding: 10%; 
}

.enlineaFlexible{    
    display: flex;
    flex-flow:wrap;
}


.estiloLestraPoppins{
    font-family: $fuente_secundaria;
}
